<div id="headernavigation" class="headernavigation">
  <div id="container" class="container">
    <div id="content" class="content">
      <img id="vjlogov11" class="vjlogov11" src="assets/vjlogo.png" />

      <div id="navigation2" class="navigation2">
        <button id="_navitembase" class="_navitembase">
          <div id="content2" class="content2">
            <div id="text" class="text">Home</div>
          </div>
        </button>
        <button id="_navitembase2" class="_navitembase2">
          <div id="content3" class="content3">
            <div id="text2" class="text2">Dashboard</div>
          </div>
        </button>
      </div>
    </div>
    <div id="content4" class="content4">
      <div id="actions" class="actions">
        <button id="_navitembutton" class="_navitembutton">
          <img id="settings-01" class="settings-01" src="assets/settings.png" />
        </button>
        <button id="_navitembutton2" class="_navitembutton2">
          <img id="bell-01" class="bell-01" src="assets/icon.png" />
        </button>
      </div>
      <div id="dropdown" class="dropdown">
        <img id="avatar" class="avatar" src="assets/avatar.png" />
      </div>
    </div>
  </div>
</div>
