<!-- <div id="horizontaltabs" class="horizontaltabs">
  <div id="tabs2" class="tabs2">
    <button id="_tabbuttonbase" class="_tabbuttonbase">
      <div id="text" class="text">Site 1</div>
      <div id="badge" class="badge">
        <div id="text2" class="text2">240</div>
      </div>
    </button>
    <button id="_tabbuttonbase2" class="_tabbuttonbase2">
      <div id="text3" class="text3">Site 2</div>
      <div id="badge2" class="badge2">
        <div id="text4" class="text4">50</div>
      </div>
    </button>
    <button id="_tabbuttonbase3" class="_tabbuttonbase3">
      <div id="text5" class="text5">Site 3</div>
      <div id="badge3" class="badge3">
        <div id="text6" class="text6">89</div>
      </div>
    </button>
    <button id="_tabbuttonbase4" class="_tabbuttonbase4">
      <div id="text7" class="text7">Site 4</div>
    </button>
    <button id="_tabbuttonbase5" class="_tabbuttonbase5">
      <div id="text8" class="text8">Site 5</div>
    </button>
  </div>
</div> -->

<!-- <mat-tab-group animationDuration="0ms">
  <mat-tab> 
    <ng-template matTabLabel >
      <span matBadge="240" matBadgeOverlap="true">Site 1</span>
    </ng-template>
   Here is the site1 content
  </mat-tab>
  <mat-tab> 
    <ng-template matTabLabel>
      <span matBadge="50" matBadgeOverlap="true">Site 2</span>
    </ng-template>
   Here is the site2 content
  </mat-tab>
  <mat-tab> 
    <ng-template matTabLabel>
      <span matBadge="89" matBadgeOverlap="true">Site 3</span>
    </ng-template>
   Here is the site3 content
  </mat-tab>
  <mat-tab> 
    <ng-template matTabLabel>
      <span matBadge="10" matBadgeOverlap="true">Site 4</span>
    </ng-template>
   Here is the site4 content
  </mat-tab>
  <mat-tab> 
    <ng-template matTabLabel>
      <span matBadge="1" matBadgeOverlap="true">Site 5</span>
    </ng-template>
   Here is the site5 content
  </mat-tab>
</mat-tab-group> -->




<nav mat-tab-nav-bar> 

  <a mat-tab-link routerLink="section" routerLinkActive="active-link"><span class="sitename"><span matBadge="240" matBadgeOverlap="true">Site 1</span></span></a> 
  <a mat-tab-link routerLink="section2" routerLinkActive="active-link"><span class="sitename"><span matBadge="50" matBadgeOverlap="true">Site 2</span></span></a> 
  <a mat-tab-link routerLink="section3" routerLinkActive="active-link"><span class="sitename"><span matBadge="89" matBadgeOverlap="true">Site 3</span></span></a> 
  <a mat-tab-link routerLink="section4" routerLinkActive="active-link"><span class="sitename"><span matBadge="10" matBadgeOverlap="true">Site 4</span></span></a> 
  <a mat-tab-link routerLink="section5" routerLinkActive="active-link"><span class="sitename"><span matBadge="1" matBadgeOverlap="true">Site 5</span></span></a> 
