<div id="section" class="section">
    <div id="container" class="container">
      <div id="table" class="table">
        <div id="cardheader" class="cardheader">
          <div id="content" class="content">
            <div id="textandsupportingtext" class="textandsupportingtext">
              <div id="textandbadge" class="textandbadge">
                <div id="text3" class="text3">Site 4</div>
                <div id="badge2" class="badge2">
                  <div id="text4" class="text4">10 Workers</div>
                </div>
              </div>
              <div id="supportingtext2" class="supportingtext2">
                Keep track of workers and their activity.
              </div>
            </div>
            <div id="actions" class="actions">
              <button id="button" class="button">
                <img
                  id="download-cloud-01"
                  class="download-cloud-01"
                  src="assets/exporticon.png"
                />
  
                <div id="text6" class="text6">Export</div>
              </button>
            </div>
          </div>
          <img
            id="divider"
            class="divider"b
            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABMAAAAABCAYAAAA4sdKUAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAhSURBVHgB7cBBEQAABAAw+jd1HhrQw21ZPRsAAAAA8NQBw2IDx/TMCbkAAAAASUVORK5CYII="
          />
        </div>
        <div id="filtersbar" class="filtersbar">
          <div id="content2" class="content2">
            <!-- <button id="buttongroup" class="buttongroup">
              <button id="_buttongroupbase" class="_buttongroupbase">
                <div id="text7" class="text7">View all</div>
              </button>
              <button id="_buttongroupbase2" class="_buttongroupbase2">
                <div id="text8" class="text8">E&C</div>
              </button>
              <button id="_buttongroupbase3" class="_buttongroupbase3">
                <div id="text9" class="text9">MQC</div>
              </button>
              <button id="_buttongroupbase4" class="_buttongroupbase4">
                <div id="text10" class="text10">CCA</div>
              </button>
              <button id="_buttongroupbase5" class="_buttongroupbase5">
                <div id="text11" class="text11">EHCS</div>
              </button>
            </button> -->
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
              <mat-button-toggle value="bold"><div class="mattext">View All</div></mat-button-toggle>
              <mat-button-toggle value="italic"><div class="mattext">E&C</div></mat-button-toggle>
              <mat-button-toggle value="underline"><div class="mattext">MQC</div></mat-button-toggle>
              <mat-button-toggle value="underline"><div class="mattext">CCA</div></mat-button-toggle>
              <mat-button-toggle value="underline"><div class="mattext">EHCS</div></mat-button-toggle>
            </mat-button-toggle-group>
            
            <div id="actions2" class="actions2">
              <div id="inputdropdown" class="inputdropdown">
                <div id="inputwithlabel" class="inputwithlabel">
                  <input type="text" id="input3" class="input3" placeholder="Search">
                    <div id="content3" class="content3">
                      <!-- <img
                        id="search-lg"
                        class="search-lg"
                        src="assets/searchicon.png"
                      /> -->
  
                      <!-- <div id="text12" class="text12">Search</div> -->
                    </div>
                </div>
              </div>
              
  
              <button id="button8" class="button8">
                <img
                  id="filter-lines"
                  class="filter-lines"
                  src="assets/filtericon.png"
                />
  
                <div id="text13" class="text13">Filters</div>
              </button>
            </div>
          </div>
        </div>
        <div id="content4" class="content4">
          <div id="column" class="column">
            <div id="tableheadercell" class="tableheadercell">
              <input
                id="checkbox"
                class="checkbox"
                type="checkbox"
                placeholder=""
              />
              <div id="tableheader2" class="tableheader2">
                <div id="text14" class="text14">Worker Name</div>
                <img
                  id="arrow-down"
                  class="arrow-down"
                  src="assets/arrowdownicon.png"
                />
              </div>
            </div>
            <div id="tablecell" class="tablecell">
              <input
                id="checkbox3"
                class="checkbox3"
                type="checkbox"
                placeholder=""
              />
              <img
                id="avatar"
                class="avatar"
                src="assets/joshavatar.png"
              />
  
              <div id="textandsupportingtext2" class="textandsupportingtext2">
                <div id="text16" class="text16">Josh Myre</div>
                <div id="supportingtext4" class="supportingtext4">E&C</div>
              </div>
            </div>
            <div id="tablecell2" class="tablecell2">
              <input
                id="checkbox5"
                class="checkbox5"
                type="checkbox"
                placeholder=""
              />
              <img
                id="avatar2"
                class="avatar2"
                src="assets/joshavatar.png"
              />
  
              <div id="textandsupportingtext3" class="textandsupportingtext3">
                <div id="text19" class="text19">Josh Myre</div>
                <div id="supportingtext6" class="supportingtext6">E&C</div>
              </div>
            </div>
            <div id="tablecell3" class="tablecell3">
              <input
                id="checkbox7"
                class="checkbox7"
                type="checkbox"
                placeholder=""
              />
              <img
                id="avatar3"
                class="avatar3"
                src="assets/joshavatar.png"
              />
  
              <div id="textandsupportingtext4" class="textandsupportingtext4">
                <div id="text22" class="text22">Josh Myre</div>
                <div id="supportingtext8" class="supportingtext8">E&C</div>
              </div>
            </div>
            <div id="tablecell4" class="tablecell4">
              <input
                id="checkbox9"
                class="checkbox9"
                type="checkbox"
                placeholder=""
              />
              <img
                id="avatar4"
                class="avatar4"
                src="assets/joshavatar.png"
              />
  
              <div id="textandsupportingtext5" class="textandsupportingtext5">
                <div id="text25" class="text25">Josh Myre</div>
                <div id="supportingtext10" class="supportingtext10">E&C</div>
              </div>
            </div>
            <div id="tablecell5" class="tablecell5">
              <input
                id="checkbox11"
                class="checkbox11"
                type="checkbox"
                placeholder=""
              />
              <img
                id="avatar5"
                class="avatar5"
                src="assets/joshavatar.png"
              />
  
              <div id="textandsupportingtext6" class="textandsupportingtext6">
                <div id="text28" class="text28">Josh Myre</div>
                <div id="supportingtext12" class="supportingtext12">MQC</div>
              </div>
            </div>
            <div id="tablecell6" class="tablecell6">
              <input
                id="checkbox13"
                class="checkbox13"
                type="checkbox"
                placeholder=""
              />
              <img
                id="avatar6"
                class="avatar6"
                src="assets/joshavatar.png"
              />
  
              <div id="textandsupportingtext7" class="textandsupportingtext7">
                <div id="text31" class="text31">Josh Myre</div>
                <div id="supportingtext14" class="supportingtext14">CCA</div>
              </div>
            </div>
            <div id="tablecell7" class="tablecell7">
              <input
                id="checkbox15"
                class="checkbox15"
                type="checkbox"
                placeholder=""
              />
              <img
                id="avatar7"
                class="avatar7"
                src="assets/joshavatar.png"
              />
  
              <div id="textandsupportingtext8" class="textandsupportingtext8">
                <div id="text34" class="text34">Josh Myre</div>
                <div id="supportingtext16" class="supportingtext16">EHCS</div>
              </div>
            </div>
            <div id="tablecell8" class="tablecell8">
              <input
                id="checkbox17"
                class="checkbox17"
                type="checkbox"
                placeholder=""
              />
              <img
                id="avatar8"
                class="avatar8"
                src="assets/joshavatar.png"
              />
  
              <div id="textandsupportingtext9" class="textandsupportingtext9">
                <div id="text37" class="text37">Josh Myre</div>
                <div id="supportingtext18" class="supportingtext18">MQC</div>
              </div>
            </div>
          </div>
          <div id="column2" class="column2">
            <div id="tableheadercell2" class="tableheadercell2">
              <div id="tableheader4" class="tableheader4">
                <div id="text39" class="text39">Adhar Number</div>
              </div>
            </div>
            <div id="tablecell9" class="tablecell9">
              <div id="text40" class="text40">3856 8698 4585</div>
            </div>
            <div id="tablecell10" class="tablecell10">
              <div id="text41" class="text41">8595 8698 4585</div>
            </div>
            <div id="tablecell11" class="tablecell11">
              <div id="text42" class="text42">5128 8698 4585</div>
            </div>
            <div id="tablecell12" class="tablecell12">
              <div id="text43" class="text43">3856 8698 4585</div>
            </div>
            <div id="tablecell13" class="tablecell13">
              <div id="text44" class="text44">3856 8698 4585</div>
            </div>
            <div id="tablecell14" class="tablecell14">
              <div id="text45" class="text45">3856 8698 4585</div>
            </div>
            <div id="tablecell15" class="tablecell15">
              <div id="text46" class="text46">3856 8698 4585</div>
            </div>
            <div id="tablecell16" class="tablecell16">
              <div id="text47" class="text47">3856 8698 4585</div>
            </div>
          </div>
          <div id="column3" class="column3">
            <div id="tableheadercell3" class="tableheadercell3">
              <div id="tableheader6" class="tableheader6">
                <div id="text48" class="text48">Date</div>
              </div>
            </div>
            <div id="tablecell17" class="tablecell17">
              <div id="text49" class="text49">12 Oct 2022</div>
            </div>
            <div id="tablecell18" class="tablecell18">
              <div id="text50" class="text50">12 Oct 2022</div>
            </div>
            <div id="tablecell19" class="tablecell19">
              <div id="text51" class="text51">12 Oct 2022</div>
            </div>
            <div id="tablecell20" class="tablecell20">
              <div id="text52" class="text52">12 Oct 2022</div>
            </div>
            <div id="tablecell21" class="tablecell21">
              <div id="text53" class="text53">12 Oct 2022</div>
            </div>
            <div id="tablecell22" class="tablecell22">
              <div id="text54" class="text54">12 Oct 2022</div>
            </div>
            <div id="tablecell23" class="tablecell23">
              <div id="text55" class="text55">12 Oct 2022</div>
            </div>
            <div id="tablecell24" class="tablecell24">
              <div id="text56" class="text56">12 Oct 2022</div>
            </div>
          </div>
          <div id="column4" class="column4">
            <div id="tableheadercell4" class="tableheadercell4">
              <div id="tableheader8" class="tableheader8">
                <div id="text57" class="text57">In Time</div>
              </div>
            </div>
            <div id="frame11" class="frame11">
              <div id="inputdropdown2" class="inputdropdown2">
                <div id="inputwithlabel2" class="inputwithlabel2">
                  <div id="input6" class="input6">
                    <div id="content5" class="content5">
                      <div id="text58" class="text58">07:59AM</div>
                    </div>
                    <img
                      id="chevron-down"
                      class="chevron-down"
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACRSURBVHgB7dE/DkAwFAbwD5E4hiOYxCRxFIPEaDeL1W5wBEdgNEg4ihP4FyRS9dqZfkuT1+/90qSAyvdjsIMoyRzX862+aydq8a2ns0UNqGaYw75AYdvRbL2avXuACxAuB9zw0Au7upwHvb9AO5aCskhHFsNtLgR56DkmMRLkoBBhQvCOymDSiZPcpn5d5W9ZAXt2O2LG4c25AAAAAElFTkSuQmCC"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div id="frame12" class="frame12">
              <div id="inputdropdown3" class="inputdropdown3">
                <div id="inputwithlabel3" class="inputwithlabel3">
                  <div id="input9" class="input9">
                    <div id="content6" class="content6">
                      <div id="text59" class="text59">07:59AM</div>
                    </div>
                    <img
                      id="chevron-down2"
                      class="chevron-down2"
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACRSURBVHgB7dE/DkAwFAbwD5E4hiOYxCRxFIPEaDeL1W5wBEdgNEg4ihP4FyRS9dqZfkuT1+/90qSAyvdjsIMoyRzX862+aydq8a2ns0UNqGaYw75AYdvRbL2avXuACxAuB9zw0Au7upwHvb9AO5aCskhHFsNtLgR56DkmMRLkoBBhQvCOymDSiZPcpn5d5W9ZAXt2O2LG4c25AAAAAElFTkSuQmCC"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div id="frame13" class="frame13">
              <div id="inputdropdown4" class="inputdropdown4">
                <div id="inputwithlabel4" class="inputwithlabel4">
                  <div id="input12" class="input12">
                    <div id="content7" class="content7">
                      <div id="text60" class="text60">07:59AM</div>
                    </div>
                    <img
                      id="chevron-down3"
                      class="chevron-down3"
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACRSURBVHgB7dE/DkAwFAbwD5E4hiOYxCRxFIPEaDeL1W5wBEdgNEg4ihP4FyRS9dqZfkuT1+/90qSAyvdjsIMoyRzX862+aydq8a2ns0UNqGaYw75AYdvRbL2avXuACxAuB9zw0Au7upwHvb9AO5aCskhHFsNtLgR56DkmMRLkoBBhQvCOymDSiZPcpn5d5W9ZAXt2O2LG4c25AAAAAElFTkSuQmCC"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div id="frame14" class="frame14">
              <div id="inputdropdown5" class="inputdropdown5">
                <div id="inputwithlabel5" class="inputwithlabel5">
                  <div id="input15" class="input15">
                    <div id="content8" class="content8">
                      <div id="text61" class="text61">07:59AM</div>
                    </div>
                    <img
                      id="chevron-down4"
                      class="chevron-down4"
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACRSURBVHgB7dE/DkAwFAbwD5E4hiOYxCRxFIPEaDeL1W5wBEdgNEg4ihP4FyRS9dqZfkuT1+/90qSAyvdjsIMoyRzX862+aydq8a2ns0UNqGaYw75AYdvRbL2avXuACxAuB9zw0Au7upwHvb9AO5aCskhHFsNtLgR56DkmMRLkoBBhQvCOymDSiZPcpn5d5W9ZAXt2O2LG4c25AAAAAElFTkSuQmCC"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div id="frame15" class="frame15">
              <div id="inputdropdown6" class="inputdropdown6">
                <div id="inputwithlabel6" class="inputwithlabel6">
                  <div id="input18" class="input18">
                    <div id="content9" class="content9">
                      <div id="text62" class="text62">07:59AM</div>
                    </div>
                    <img
                      id="chevron-down5"
                      class="chevron-down5"
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACRSURBVHgB7dE/DkAwFAbwD5E4hiOYxCRxFIPEaDeL1W5wBEdgNEg4ihP4FyRS9dqZfkuT1+/90qSAyvdjsIMoyRzX862+aydq8a2ns0UNqGaYw75AYdvRbL2avXuACxAuB9zw0Au7upwHvb9AO5aCskhHFsNtLgR56DkmMRLkoBBhQvCOymDSiZPcpn5d5W9ZAXt2O2LG4c25AAAAAElFTkSuQmCC"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div id="frame16" class="frame16">
              <div id="inputdropdown7" class="inputdropdown7">
                <div id="inputwithlabel7" class="inputwithlabel7">
                  <div id="input21" class="input21">
                    <div id="content10" class="content10">
                      <div id="text63" class="text63">07:59AM</div>
                    </div>
                    <img
                      id="chevron-down6"
                      class="chevron-down6"
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACRSURBVHgB7dE/DkAwFAbwD5E4hiOYxCRxFIPEaDeL1W5wBEdgNEg4ihP4FyRS9dqZfkuT1+/90qSAyvdjsIMoyRzX862+aydq8a2ns0UNqGaYw75AYdvRbL2avXuACxAuB9zw0Au7upwHvb9AO5aCskhHFsNtLgR56DkmMRLkoBBhQvCOymDSiZPcpn5d5W9ZAXt2O2LG4c25AAAAAElFTkSuQmCC"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div id="frame17" class="frame17">
              <div id="inputdropdown8" class="inputdropdown8">
                <div id="inputwithlabel8" class="inputwithlabel8">
                  <div id="input24" class="input24">
                    <div id="content11" class="content11">
                      <div id="text64" class="text64">07:59AM</div>
                    </div>
                    <img
                      id="chevron-down7"
                      class="chevron-down7"
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACRSURBVHgB7dE/DkAwFAbwD5E4hiOYxCRxFIPEaDeL1W5wBEdgNEg4ihP4FyRS9dqZfkuT1+/90qSAyvdjsIMoyRzX862+aydq8a2ns0UNqGaYw75AYdvRbL2avXuACxAuB9zw0Au7upwHvb9AO5aCskhHFsNtLgR56DkmMRLkoBBhQvCOymDSiZPcpn5d5W9ZAXt2O2LG4c25AAAAAElFTkSuQmCC"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div id="frame10" class="frame10">
              <div id="inputdropdown9" class="inputdropdown9">
                <div id="inputwithlabel9" class="inputwithlabel9">
                  <div id="input27" class="input27">
                    <div id="content12" class="content12">
                      <div id="text65" class="text65">07:59AM</div>
                    </div>
                    <img
                      id="chevron-down8"
                      class="chevron-down8"
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACRSURBVHgB7dE/DkAwFAbwD5E4hiOYxCRxFIPEaDeL1W5wBEdgNEg4ihP4FyRS9dqZfkuT1+/90qSAyvdjsIMoyRzX862+aydq8a2ns0UNqGaYw75AYdvRbL2avXuACxAuB9zw0Au7upwHvb9AO5aCskhHFsNtLgR56DkmMRLkoBBhQvCOymDSiZPcpn5d5W9ZAXt2O2LG4c25AAAAAElFTkSuQmCC"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="column5" class="column5">
            <div id="tableheadercell5" class="tableheadercell5">
              <div id="tableheader10" class="tableheader10">
                <div id="text66" class="text66">Out Time</div>
              </div>
            </div>
            <div id="frame112" class="frame112">
              <div id="inputdropdown10" class="inputdropdown10">
                <div id="inputwithlabel10" class="inputwithlabel10">
                  <div id="input30" class="input30">
                    <div id="content13" class="content13">
                      <div id="text67" class="text67">07:59PM</div>
                    </div>
                    <img
                      id="chevron-down9"
                      class="chevron-down9"
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACRSURBVHgB7dE/DkAwFAbwD5E4hiOYxCRxFIPEaDeL1W5wBEdgNEg4ihP4FyRS9dqZfkuT1+/90qSAyvdjsIMoyRzX862+aydq8a2ns0UNqGaYw75AYdvRbL2avXuACxAuB9zw0Au7upwHvb9AO5aCskhHFsNtLgR56DkmMRLkoBBhQvCOymDSiZPcpn5d5W9ZAXt2O2LG4c25AAAAAElFTkSuQmCC"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div id="frame122" class="frame122">
              <div id="inputdropdown11" class="inputdropdown11">
                <div id="inputwithlabel11" class="inputwithlabel11">
                  <div id="input33" class="input33">
                    <div id="content14" class="content14">
                      <div id="text68" class="text68">07:59PM</div>
                    </div>
                    <img
                      id="chevron-down10"
                      class="chevron-down10"
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACRSURBVHgB7dE/DkAwFAbwD5E4hiOYxCRxFIPEaDeL1W5wBEdgNEg4ihP4FyRS9dqZfkuT1+/90qSAyvdjsIMoyRzX862+aydq8a2ns0UNqGaYw75AYdvRbL2avXuACxAuB9zw0Au7upwHvb9AO5aCskhHFsNtLgR56DkmMRLkoBBhQvCOymDSiZPcpn5d5W9ZAXt2O2LG4c25AAAAAElFTkSuQmCC"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div id="frame132" class="frame132">
              <div id="inputdropdown12" class="inputdropdown12">
                <div id="inputwithlabel12" class="inputwithlabel12">
                  <div id="input36" class="input36">
                    <div id="content15" class="content15">
                      <div id="text69" class="text69">07:59PM</div>
                    </div>
                    <img
                      id="chevron-down11"
                      class="chevron-down11"
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACRSURBVHgB7dE/DkAwFAbwD5E4hiOYxCRxFIPEaDeL1W5wBEdgNEg4ihP4FyRS9dqZfkuT1+/90qSAyvdjsIMoyRzX862+aydq8a2ns0UNqGaYw75AYdvRbL2avXuACxAuB9zw0Au7upwHvb9AO5aCskhHFsNtLgR56DkmMRLkoBBhQvCOymDSiZPcpn5d5W9ZAXt2O2LG4c25AAAAAElFTkSuQmCC"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div id="frame142" class="frame142">
              <div id="inputdropdown13" class="inputdropdown13">
                <div id="inputwithlabel13" class="inputwithlabel13">
                  <div id="input39" class="input39">
                    <div id="content16" class="content16">
                      <div id="text70" class="text70">07:59PM</div>
                    </div>
                    <img
                      id="chevron-down12"
                      class="chevron-down12"
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACRSURBVHgB7dE/DkAwFAbwD5E4hiOYxCRxFIPEaDeL1W5wBEdgNEg4ihP4FyRS9dqZfkuT1+/90qSAyvdjsIMoyRzX862+aydq8a2ns0UNqGaYw75AYdvRbL2avXuACxAuB9zw0Au7upwHvb9AO5aCskhHFsNtLgR56DkmMRLkoBBhQvCOymDSiZPcpn5d5W9ZAXt2O2LG4c25AAAAAElFTkSuQmCC"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div id="frame152" class="frame152">
              <div id="inputdropdown14" class="inputdropdown14">
                <div id="inputwithlabel14" class="inputwithlabel14">
                  <div id="input42" class="input42">
                    <div id="content17" class="content17">
                      <div id="text71" class="text71">07:59PM</div>
                    </div>
                    <img
                      id="chevron-down13"
                      class="chevron-down13"
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACRSURBVHgB7dE/DkAwFAbwD5E4hiOYxCRxFIPEaDeL1W5wBEdgNEg4ihP4FyRS9dqZfkuT1+/90qSAyvdjsIMoyRzX862+aydq8a2ns0UNqGaYw75AYdvRbL2avXuACxAuB9zw0Au7upwHvb9AO5aCskhHFsNtLgR56DkmMRLkoBBhQvCOymDSiZPcpn5d5W9ZAXt2O2LG4c25AAAAAElFTkSuQmCC"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div id="frame162" class="frame162">
              <div id="inputdropdown15" class="inputdropdown15">
                <div id="inputwithlabel15" class="inputwithlabel15">
                  <div id="input45" class="input45">
                    <div id="content18" class="content18">
                      <div id="text72" class="text72">07:59PM</div>
                    </div>
                    <img
                      id="chevron-down14"
                      class="chevron-down14"
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACRSURBVHgB7dE/DkAwFAbwD5E4hiOYxCRxFIPEaDeL1W5wBEdgNEg4ihP4FyRS9dqZfkuT1+/90qSAyvdjsIMoyRzX862+aydq8a2ns0UNqGaYw75AYdvRbL2avXuACxAuB9zw0Au7upwHvb9AO5aCskhHFsNtLgR56DkmMRLkoBBhQvCOymDSiZPcpn5d5W9ZAXt2O2LG4c25AAAAAElFTkSuQmCC"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div id="frame172" class="frame172">
              <div id="inputdropdown16" class="inputdropdown16">
                <div id="inputwithlabel16" class="inputwithlabel16">
                  <div id="input48" class="input48">
                    <div id="content19" class="content19">
                      <div id="text73" class="text73">07:59PM</div>
                    </div>
                    <img
                      id="chevron-down15"
                      class="chevron-down15"
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACRSURBVHgB7dE/DkAwFAbwD5E4hiOYxCRxFIPEaDeL1W5wBEdgNEg4ihP4FyRS9dqZfkuT1+/90qSAyvdjsIMoyRzX862+aydq8a2ns0UNqGaYw75AYdvRbL2avXuACxAuB9zw0Au7upwHvb9AO5aCskhHFsNtLgR56DkmMRLkoBBhQvCOymDSiZPcpn5d5W9ZAXt2O2LG4c25AAAAAElFTkSuQmCC"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div id="frame102" class="frame102">
              <div id="inputdropdown17" class="inputdropdown17">
                <div id="inputwithlabel17" class="inputwithlabel17">
                  <div id="input51" class="input51">
                    <div id="content20" class="content20">
                      <div id="text74" class="text74">07:59PM</div>
                    </div>
                    <img
                      id="chevron-down16"
                      class="chevron-down16"
                      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACRSURBVHgB7dE/DkAwFAbwD5E4hiOYxCRxFIPEaDeL1W5wBEdgNEg4ihP4FyRS9dqZfkuT1+/90qSAyvdjsIMoyRzX862+aydq8a2ns0UNqGaYw75AYdvRbL2avXuACxAuB9zw0Au7upwHvb9AO5aCskhHFsNtLgR56DkmMRLkoBBhQvCOymDSiZPcpn5d5W9ZAXt2O2LG4c25AAAAAElFTkSuQmCC"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="column6" class="column6">
            <div id="tableheadercell6" class="tableheadercell6">
              <div id="tableheader12" class="tableheader12">
                <div id="text75" class="text75">Activity</div>
              </div>
            </div>
            <div id="frame3" class="frame3">
              <div id="dropdown18" class="dropdown18">
                <button id="button9" class="button9">
                  <div id="text76" class="text76">Curning</div>
                  <img
                    id="chevron-down17"
                    class="chevron-down17"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACiSURBVHgB7ZEtFoMwEIQXiOgRKlHVMfX0BjU9QE/WA1T0CMUjQCKRSDzwlt33gmAJCxoYk7zJzJc/gFP7VyQNm7zsNb5d6qpstOJSLpRBA/gxYPI7FTRYBPin3E+uzYABBG8ekQo+6Ajjeeey075HDEJXog0eWfotJKwnv3D+KtAHbYEfXIepQAlF52kwVqgB+ap8OtgI2yybPGOr/Pqpo2kAC5VEWax+UK4AAAAASUVORK5CYII="
                  />
                </button>
              </div>
            </div>
            <div id="frame4" class="frame4">
              <div id="dropdown19" class="dropdown19">
                <button id="button10" class="button10">
                  <div id="text77" class="text77">Curning</div>
                  <img
                    id="chevron-down18"
                    class="chevron-down18"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACiSURBVHgB7ZEtFoMwEIQXiOgRKlHVMfX0BjU9QE/WA1T0CMUjQCKRSDzwlt33gmAJCxoYk7zJzJc/gFP7VyQNm7zsNb5d6qpstOJSLpRBA/gxYPI7FTRYBPin3E+uzYABBG8ekQo+6Ajjeeey075HDEJXog0eWfotJKwnv3D+KtAHbYEfXIepQAlF52kwVqgB+ap8OtgI2yybPGOr/Pqpo2kAC5VEWax+UK4AAAAASUVORK5CYII="
                  />
                </button>
              </div>
            </div>
            <div id="frame5" class="frame5">
              <div id="dropdown20" class="dropdown20">
                <button id="button11" class="button11">
                  <div id="text78" class="text78">Curning</div>
                  <img
                    id="chevron-down19"
                    class="chevron-down19"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACiSURBVHgB7ZEtFoMwEIQXiOgRKlHVMfX0BjU9QE/WA1T0CMUjQCKRSDzwlt33gmAJCxoYk7zJzJc/gFP7VyQNm7zsNb5d6qpstOJSLpRBA/gxYPI7FTRYBPin3E+uzYABBG8ekQo+6Ajjeeey075HDEJXog0eWfotJKwnv3D+KtAHbYEfXIepQAlF52kwVqgB+ap8OtgI2yybPGOr/Pqpo2kAC5VEWax+UK4AAAAASUVORK5CYII="
                  />
                </button>
              </div>
            </div>
            <div id="frame6" class="frame6">
              <div id="dropdown21" class="dropdown21">
                <button id="button12" class="button12">
                  <div id="text79" class="text79">Curning</div>
                  <img
                    id="chevron-down20"
                    class="chevron-down20"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACiSURBVHgB7ZEtFoMwEIQXiOgRKlHVMfX0BjU9QE/WA1T0CMUjQCKRSDzwlt33gmAJCxoYk7zJzJc/gFP7VyQNm7zsNb5d6qpstOJSLpRBA/gxYPI7FTRYBPin3E+uzYABBG8ekQo+6Ajjeeey075HDEJXog0eWfotJKwnv3D+KtAHbYEfXIepQAlF52kwVqgB+ap8OtgI2yybPGOr/Pqpo2kAC5VEWax+UK4AAAAASUVORK5CYII="
                  />
                </button>
              </div>
            </div>
            <div id="frame7" class="frame7">
              <div id="dropdown22" class="dropdown22">
                <button id="button13" class="button13">
                  <div id="text80" class="text80">Curning</div>
                  <img
                    id="chevron-down21"
                    class="chevron-down21"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACiSURBVHgB7ZEtFoMwEIQXiOgRKlHVMfX0BjU9QE/WA1T0CMUjQCKRSDzwlt33gmAJCxoYk7zJzJc/gFP7VyQNm7zsNb5d6qpstOJSLpRBA/gxYPI7FTRYBPin3E+uzYABBG8ekQo+6Ajjeeey075HDEJXog0eWfotJKwnv3D+KtAHbYEfXIepQAlF52kwVqgB+ap8OtgI2yybPGOr/Pqpo2kAC5VEWax+UK4AAAAASUVORK5CYII="
                  />
                </button>
              </div>
            </div>
            <div id="frame8" class="frame8">
              <div id="dropdown23" class="dropdown23">
                <button id="button14" class="button14">
                  <div id="text81" class="text81">Curning</div>
                  <img
                    id="chevron-down22"
                    class="chevron-down22"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACiSURBVHgB7ZEtFoMwEIQXiOgRKlHVMfX0BjU9QE/WA1T0CMUjQCKRSDzwlt33gmAJCxoYk7zJzJc/gFP7VyQNm7zsNb5d6qpstOJSLpRBA/gxYPI7FTRYBPin3E+uzYABBG8ekQo+6Ajjeeey075HDEJXog0eWfotJKwnv3D+KtAHbYEfXIepQAlF52kwVqgB+ap8OtgI2yybPGOr/Pqpo2kAC5VEWax+UK4AAAAASUVORK5CYII="
                  />
                </button>
              </div>
            </div>
            <div id="frame2" class="frame2">
              <div id="dropdown24" class="dropdown24">
                <button id="button15" class="button15">
                  <div id="text82" class="text82">Curning</div>
                  <img
                    id="chevron-down23"
                    class="chevron-down23"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACiSURBVHgB7ZEtFoMwEIQXiOgRKlHVMfX0BjU9QE/WA1T0CMUjQCKRSDzwlt33gmAJCxoYk7zJzJc/gFP7VyQNm7zsNb5d6qpstOJSLpRBA/gxYPI7FTRYBPin3E+uzYABBG8ekQo+6Ajjeeey075HDEJXog0eWfotJKwnv3D+KtAHbYEfXIepQAlF52kwVqgB+ap8OtgI2yybPGOr/Pqpo2kAC5VEWax+UK4AAAAASUVORK5CYII="
                  />
                </button>
              </div>
            </div>
            <div id="frame117" class="frame117">
              <div id="dropdown25" class="dropdown25">
                <button id="button16" class="button16">
                  <div id="text83" class="text83">Curning</div>
                  <img
                    id="chevron-down24"
                    class="chevron-down24"
                    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACiSURBVHgB7ZEtFoMwEIQXiOgRKlHVMfX0BjU9QE/WA1T0CMUjQCKRSDzwlt33gmAJCxoYk7zJzJc/gFP7VyQNm7zsNb5d6qpstOJSLpRBA/gxYPI7FTRYBPin3E+uzYABBG8ekQo+6Ajjeeey075HDEJXog0eWfotJKwnv3D+KtAHbYEfXIepQAlF52kwVqgB+ap8OtgI2yybPGOr/Pqpo2kAC5VEWax+UK4AAAAASUVORK5CYII="
                  />
                </button>
              </div>
            </div>
          </div>
          <div id="column7" class="column7">
            <div id="tableheadercell7" class="tableheadercell7">
              <div id="tableheader14" class="tableheader14">
                <div id="text84" class="text84">Categories</div>
              </div>
            </div>
            <div id="frame32" class="frame32">
              <button id="button17" class="button17" (click)="enableDisableRule()"
              [ngClass]="{'blue' : toggle, 'green': !toggle}">
                <img
                  id="check19"
                  class="check19"
                  src="assets/checkicon.png"
                />
  
                <div id="text85" class="text85">{{status}}</div>
              </button>
            </div>
            <div id="frame42" class="frame42">
              <button id="button18" class="button18">
                <img
                  id="check20"
                  class="check20"
                  src="assets/checkicon.png"
                />
  
                <div id="text86" class="text86">Approve</div>
              </button>
            </div>
            <div id="frame62" class="frame62">
              <button id="button19" class="button19">
                <img
                  id="check21"
                  class="check21"
                  src="assets/checkicon.png"
                />
  
                <div id="text87" class="text87">Approve</div>
              </button>
            </div>
            <div id="frame72" class="frame72">
              <button id="button20" class="button20">
                <img
                  id="check22"
                  class="check22"
                  src="assets/checkicon.png"
                />
  
                <div id="text88" class="text88">Approve</div>
              </button>
            </div>
            <div id="frame82" class="frame82">
              <button id="button21" class="button21">
                <img
                  id="check23"
                  class="check23"
                  src="assets/checkicon.png"
                />
  
                <div id="text89" class="text89">Approve</div>
              </button>
            </div>
            <div id="frame9" class="frame9">
              <button id="button22" class="button22">
                <img
                  id="check24"
                  class="check24"
                  src="assets/checkicon.png"
                />
  
                <div id="text90" class="text90">Approve</div>
              </button>
            </div>
            <div id="frame52" class="frame52">
              <button id="button23" class="button23">
                <img
                  id="check25"
                  class="check25"
                  src="assets/checkicon.png"
                />
  
                <div id="text91" class="text91">Approve</div>
              </button>
            </div>
            <div id="tablecell25" class="tablecell25">
              <div id="badge3" class="badge3">
                <div id="text92" class="text92">Approved</div>
              </div>
            </div>
          </div>
        </div>
        <div id="pagination" class="pagination">
          <div id="details" class="details">Page 1 of 10</div>
          <div id="actions3" class="actions3">
            <button id="button24" class="button24">
              <div id="text93" class="text93">Previous</div>
            </button>
            <button id="button25" class="button25">
              <div id="text94" class="text94">Next</div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  