<p class="heading">Activity</p>

<div class="content">
<!-- dropdown1 starts -->
<details class="custom-select">
	<summary class="radios">
		<input type="radio" name="item" id="default" title="Select Activity" checked>
		<input type="radio" name="item" id="act1" title="Curing">
		<input type="radio" name="item" id="act2" title="Slew Packing">
		<input type="radio" name="item" id="act3" title="Material Shifting">
		<input type="radio" name="item" id="act4" title="Tile Bubblesheet">
		<input type="radio" name="item" id="act5" title="Basic Cleaning">
		<input type="radio" name="item" id="act6" title="Office Boy">
		<input type="radio" name="item" id="act7" title="RMC Material">
	</summary>
	<ul class="list">
		<li>
			<label for="act1">Curing</label>
		</li>
		<li>
			<label for="act2">Slew Packing</label>
		</li>
		<li>
			<label for="act3">Material Shifting</label>
		</li>
		<li>
			<label for="act4">Tile Bubblesheet</label>
		</li>
		<li>
			<label for="act5">Basic Cleaning</label>
		</li>
		<li>
			<label for="act6">Office Boy</label>
		</li>
		<li>
			<label for="act7">RMC Material</label>
		</li>
	</ul>
</details>
<!-- dropdown1 ends -->
<!-- dropdown2 starts -->
<details class="custom-select2">
	<summary class="radios2">
		<input type="radio" name="item2" id="default" title="Duration" checked>
		<input type="radio" name="item2" id="item1" title="1 hour">
		<input type="radio" name="item2" id="item2" title="2 hours">
		<input type="radio" name="item2" id="item3" title="3 hours">
		<input type="radio" name="item2" id="item4" title="4 hours">
		<input type="radio" name="item2" id="item5" title="5 hours">
		<input type="radio" name="item2" id="item6" title="6 hours">
		<input type="radio" name="item2" id="item7" title="7 hours">
	</summary>
	<ul class="list2">
		<li>
			<label for="item1">1 hour</label>
		</li>
		<li>
			<label for="item2">2 hours</label>
		</li>
		<li>
			<label for="item3">3 hours</label>
		</li>
		<li>
			<label for="item4">4 hours</label>
		</li>
		<li>
			<label for="item5">5 hours</label>
		</li>
		<li>
			<label for="item6">6 hours</label>
		</li>
		<li>
			<label for="item7">7 hours</label>
		</li>
	</ul>
</details>
<!-- dropdown2 ends -->
</div>
<button class="addmorebutton">
    <div class="addmoretext">+ Add more</div>
</button>


<div class="buttons">
    <button class="cancelbutton" (click)="ClosePopup()">
        <div class="canceltext">Cancel</div>
    </button>
    <button class="savebutton">
        <div class="savetext">Save</div>
    </button>
</div>

